In [2]:
import pandas as pd
from pandas_profiling import ProfileReport
df=pd.read_csv("SalesData.csv")
print(df)

profile = ProfileReport(df)
profile.to_file(output_file= "SalesData.html")

       StoreNumber      ItemCode           TxnTime SaleFlag  Quantity  \
0              108  8.410580e+10  09-05-2013 00:27        N         1
1              108  8.947000e+10  09-05-2013 00:27        N         1
2              108  2.840016e+09  09-05-2013 00:27        Y         2
3              108  2.840016e+09  09-05-2013 00:27        Y         2
4              108  4.127102e+09  09-05-2013 00:27        N         1
...            ...           ...               ...      ...       ...
21892          233  6.337120e+10  09-05-2013 23:52        N         1
21893          233  6.166761e+10  09-05-2013 23:54        Y         1
21894          233  7.084700e+09  09-05-2013 23:54        Y         1
21895          233  1.708200e+09  09-05-2013 23:54        N         1
21896          233  7.148102e+09  09-05-2013 23:55        N         1

       Ignore1  Amount  Ignore3  Ignore4  Ignore5 Ignore6 Ignore7  SegmentCode
0          0.0   11.79   840200   896262    11.79       N       N         1002
1          0.0    1.29   840200   832102     1.29       N       N          778
2          0.0    7.00   840200   893943     8.58       Y       N         1071
3          0.0    6.00   840200   893952     6.98       Y       N         1053
4          0.0    3.69   840200   894107     3.69       N       N         3541
...        ...     ...      ...      ...      ...     ...     ...          ...
21892      0.0    7.99    80060   844339     7.99       N       N         2410
21893      0.0    2.50    80061    20311     2.99       Y       N         3248
21894      0.0    1.75    80061   591019     2.49       Y       N         1296
21895      0.0    1.99    80061    53401     1.99       N       N         1076
21896      0.0    3.79    80062    15076     3.79       N       N          734

[21897 rows x 13 columns]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\Expert\AppData\Local\Programs\Python\Python310\lib\site-packages\multimethod\__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)
C:\Users\Expert\AppData\Local\Programs\Python\Python310\lib\site-packages\multimethod\__init__.py:315: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return func(*args, **kwargs)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [3]:
df.shape

(21897, 13)

In [4]:
print(df.info)

<bound method DataFrame.info of        StoreNumber      ItemCode           TxnTime SaleFlag  Quantity  \
0              108  8.410580e+10  09-05-2013 00:27        N         1
1              108  8.947000e+10  09-05-2013 00:27        N         1
2              108  2.840016e+09  09-05-2013 00:27        Y         2
3              108  2.840016e+09  09-05-2013 00:27        Y         2
4              108  4.127102e+09  09-05-2013 00:27        N         1
...            ...           ...               ...      ...       ...
21892          233  6.337120e+10  09-05-2013 23:52        N         1
21893          233  6.166761e+10  09-05-2013 23:54        Y         1
21894          233  7.084700e+09  09-05-2013 23:54        Y         1
21895          233  1.708200e+09  09-05-2013 23:54        N         1
21896          233  7.148102e+09  09-05-2013 23:55        N         1

       Ignore1  Amount  Ignore3  Ignore4  Ignore5 Ignore6 Ignore7  SegmentCode
0          0.0   11.79   840200   896262    11.79       N       N         1002
1          0.0    1.29   840200   832102     1.29       N       N          778
2          0.0    7.00   840200   893943     8.58       Y       N         1071
3          0.0    6.00   840200   893952     6.98       Y       N         1053
4          0.0    3.69   840200   894107     3.69       N       N         3541
...        ...     ...      ...      ...      ...     ...     ...          ...
21892      0.0    7.99    80060   844339     7.99       N       N         2410
21893      0.0    2.50    80061    20311     2.99       Y       N         3248
21894      0.0    1.75    80061   591019     2.49       Y       N         1296
21895      0.0    1.99    80061    53401     1.99       N       N         1076
21896      0.0    3.79    80062    15076     3.79       N       N          734

[21897 rows x 13 columns]>

In [15]:
print(df.loc[(df['StoreNumber'] == 233), 'Quantity'].sum())
print(df.loc[(df['StoreNumber'] == 233), 'Amount'].sum())

6605
16389.469999999998

In [16]:
print(df.loc[(df['StoreNumber'] == 108) & (df['SaleFlag']=='Y'), 'Quantity'].sum())
print(df.loc[(df['StoreNumber'] == 108) & (df['SaleFlag']=='Y'), 'Amount'].sum())

13733
32153.460000000003

In [25]:
i = df['Amount'].idxmax()
print(i)
print(df['SegmentCode'][i])

19909
2350

In [27]:
print(df['Amount'].mean())

3.2578412567931685

In [28]:
df.describe()

,StoreNumber,ItemCode,Quantity,Ignore1,Amount,Ignore3,Ignore4,Ignore5,SegmentCode
count,21897.000000,2.189700e+04,21897.000000,21897.000000,21897.000000,21897.000000,21897.000000,21897.000000,21897.000000
mean,137.838562,9.232106e+09,1.242088,0.016239,3.257841,243943.900763,229083.001416,4.050467,1553.535507
std,53.287993,1.970174e+10,0.825408,0.167181,3.287245,316861.964508,343459.554650,4.052376,1246.287897
min,108.000000,8.300000e+01,-2.000000,0.000000,-49.990000,20003.000000,3933.000000,-49.990000,3.000000
25%,108.000000,3.040077e+09,1.000000,0.000000,1.790000,40054.000000,18222.000000,2.270000,562.000000
50%,108.000000,5.150000e+09,1.000000,0.000000,2.640000,130039.000000,34329.000000,3.290000,919.000000
75%,108.000000,7.078446e+09,1.000000,0.000000,3.990000,160033.000000,415483.000000,4.490000,2798.000000
max,233.000000,9.782900e+11,21.000000,6.951000,174.990000,870123.000000,924909.000000,349.990000,4495.000000

In [29]:
df["StoreNumber"].value_counts()

108    16670
233     5227
Name: StoreNumber, dtype: int64